[Unit]
Description=icecast streaming daemon
#After=network.target sound.target
After=bind9.service
Before=mpd.service mpd.socket

[Service]
#Type=notify
EnvironmentFile=-/etc/default/icecast2
#ExecStart=/usr/bin/icecast2 -b -c /etc/icecast2/icecast.xml
ExecStart=/usr/bin/icecast2 -c /etc/icecast2/icecast.xml
User=icecast2
#Type=forking
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
WantedBy=multi-user.target
